* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
input {
  width: 36px;
  padding: 8px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #8aeaf2;
}
body .mainHeader {
  display: flex;
  justify-content: center;
}
body .container {
  display: flex;
  width: 95%;
  height: 90%;
  background: #1d2e48 url("https://media.golfdigest.com/photos/55ce3b614759c60c08236f2e/master/pass/the-prince-golf-course-6.jpg");
  align-items: center;
  flex-flow: column wrap;
}
body .container .sCard {
  display: flex;
  justify-content: center;
  width: 80%;
  border: 3px solid #CC0000;
  background: #1d2e48;
}
body .container .sCard .leftMenu {
  color: #FFFFFF;
  font-style: italic;
  display: flex;
  flex-flow: column wrap;
  margin-right: 10px;
}
body .container .sCard .leftMenu .players {
  padding-top: 12px;
  text-align: center;
}
body .container .sCard .leftMenu .holes {
  text-align: center;
  padding-bottom: 2px;
}
body .container .sCard .leftMenu .yards {
  text-align: center;
  padding-bottom: 2px;
}
body .container .sCard .leftMenu .mensHandicap {
  text-align: center;
  padding-bottom: 2px;
}
body .container .sCard .leftMenu .pars {
  text-align: center;
}
body .container .sCard .midMenu {
  display: flex;
  margin: 0px;
  padding: 0 1%;
  flex-flow: column;
  justify-content: space-around;
}
body .container .sCard .midMenu #holeThrough18 {
  display: flex;
  justify-content: space-between;
}
body .container .sCard .midMenu #yardage {
  display: flex;
  justify-content: space-between;
}
body .container .sCard .midMenu #mHandicapRow {
  display: flex;
  justify-content: space-between;
}
body .container .sCard .midMenu #parOnTeeBox {
  display: flex;
  justify-content: space-between;
}
body .container .sCard .midMenu .column {
  color: #FFFFFF;
  padding: 0px;
  margin: 0px;
}
