html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sCard {
  display: flex;
  .leftMenu {
    .pheader {
      padding: 15px;
    }

  }
  .rightMenu {
    display: flex;
    justify-content: space-evenly;

    .column {
      border: 1px solid #dadfea;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .holeInput{
      width: 3em;
    }

  }
}